<h1><%=t :singleplayer_title %></h1>
<p>
  <strong><%=t :singleplayer_from %></strong>
  <%= @game.from %>
</p>
<p>
  <strong><%=t :singleplayer_to %></strong>
  <%= @game.to %>
</p>
<p>
  <strong><%=t :singleplayer_started_at %></strong>
  <%= @game.created_at %>
</p>

<h3><%=t :singleplayer_game %></h3>
<div id="wikipedia-area" class="col-md-10 with-sidebar border-radius">
  <%= @wikipedia.html_safe %>
</div>

<div id="game-details" class="col-md-2">
    <h3><%=t :singleplayer_details %></h3>
    <p>
        <strong><%=t :singleplayer_steps %></strong>
        <span id="steps"><%= @game.steps %></span>
    </p>
    <strong><%=t :singleplayer_history %></strong>
    <ul id="game-history">
        <% @game.articles.each do |article| %>
          <li><%= article.title %></li>
        <% end %>
    </ul>
<div>