<div class="page-title">
    <h1><%=t :singleplayer_title %></h1>
    <p>
        <%=t :singleplayer_about %>
    </p>
</div>

<div class="section">
    <p>
        <%=t :singleplayer_rules %>
    </p>
    <p>
        <%=t :singleplayer_advise %>
    </p>
    <%= link_to t(:singleplayer_start), singleplayergame_path, :class => "btn btn-default" %>
</div>

<% if current_user.singleplayer_games_playing.count > 0 %>
<div class="section">
    <h4><%=t :singleplayer_current %></h4>
    <table class="table table-hover">
      <tr>
        <th><%=t :statistics_from %></th>
        <th><%=t :statistics_to %></th>
        <th><%=t :statistics_locale %></th>
        <th><%=t :statistics_date %></th>
        <th><%=t :statistics_victory %></th>
        <th><%=t :statistics_duration %></th>
        <th><%=t :statistics_steps %></th>
        <th></th>
      </tr>
      <% current_user.singleplayer_games_playing.first(10).each do |game| %>
        <tr>
          <td><%= link_to game.from, 'http://fr.wikipedia.org/wiki/'+game.from, target: "_blank" %></td>
          <td><%= link_to game.to, 'http://fr.wikipedia.org/wiki/'+game.to, target: "_blank" %></td>
          <td><%= game.locale %></td>
          <td><%= game.created_at.to_s(:long_date) %></td>
          <td class="victory-<%= game.is_finished %>"><%= game.is_finished %></td>
          <td><%= game.duration %> <%=t :statistics_sec %></td>
          <td><%= game.steps %></td>
          <td>
            <%= link_to t(:singleplayer_game_resume), singleplayergame_resume_path(game_id: game.id), class: "btn btn-default" %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
<% end %>