<h1><%=t :edit_account_title %></h1>

<p><%=t :edit_account_content %></p>

<%= form_for @user, :as => :user, :url => update_account_path, :method => :put do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%=t :form_invalid %></h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label t(:edit_account_password_current) %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label t(:edit_account_pseudo) %><br />
    <%= f.text_field :pseudo %>
  </p>
  <p>
    <%= f.label t(:edit_account_email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label t(:edit_account_password) %><br />
    <%= f.password_field :new_password %>
  </p>
  <p>
    <%= f.label t(:edit_account_password_confirmation) %><br />
    <%= f.password_field :new_password_confirmation %>
  </p>
  <p class="button"><%= f.submit t(:edit_account_submit)%></p>
<% end %>