<h1>Your Stats</h1>
<p>
    This is the stats page.
</p>

<h3>Single Player Games</h3>
<p>
  <strong>Total:</strong>
  <%= current_user.singleplayer_games_nb %>
</p>
<p>
  <strong>Total victories:</strong>
  <%= current_user.singleplayer_victories_nb %>
</p>
<p>
  <strong>Victories ratio:</strong>
  <%= current_user.victories_rate %>
</p>
<p>
  <strong>Average victory duration:</strong>
  <%= current_user.average_victory_duration %>
</p>

<h4>Last 10 Single Player Games</h4>
<table class="table table-hover">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th>Victory</th>
    <th>Duration</th>
    <th>Steps</th>
  </tr>
  <% current_user.singleplayer_games.first(10).each do |game| %>
    <tr>
      <td><%= game.from %></td>
      <td><%= game.to %></td>
      <td><%= game.created_at %></td>
      <td class="victory-<%= game.is_victory %>"><%= game.is_victory %></td>
      <td><%= game.duration %> sec</td>
      <td><%= game.steps %></td>
    </tr>
  <% end %>
</table>

<h3>Multi Player Games</h3>
<h4>Last 10 Multi Player Games</h4>
<table class="table table-hover">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
    <th>Victory</th>
  </tr>
</table>