<div class="page-title">
    <h1><%=t :multiplayer_title %></h1>
    <p>
        <%=t :multiplayer_about %>
    </p>
</div>

<div class="section">
    <h3><%= t :multiplayer_requests_received_title %></h3>
    <p>
        <%=t :multiplayer_requests_received %>
    </p>
</div>

<div class="section">
    <h3><%= t :multiplayer_requests_sent_title %></h3>
    <p>
        <%=t :multiplayer_requests_sent %>
    </p>
</div>

<div class="section">
    <h3><%= t :multiplayer_find_title %></h3>
    <p>
        <%=t :multiplayer_find %>
    </p>
</div>