   <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <%= image_tag("logo.png") %>
            </a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <% if current_user %>
                <li class="dropdown">
                    <p class="hidden-xs hidden-sm">
                        Logged in as <%= current_user.email %>
                    </p>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <%= link_to(
                          content_tag(:i, nil, class: 'fa fa-sign-out'),
                          log_out_path, 
                          data: { confirm: 'Are you sure?' } 
                        ) 
                    %>
                </li>
            <% else %>
                <li class="settings hidden-xs hidden-sm">
                    <%= link_to "Sign up", sign_up_path %>
                </li>
                <li class="settings hidden-xs hidden-sm">
                    <%= link_to "log in", log_in_path %>
                </li>
            <% end %>
        </ul>
    </header>