<!DOCTYPE html>
<html>
<head>
  <title>Wikiwar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/topbar"%>
<%= render "layouts/sidebar"%>

<div class="content">
  <div id="pad-wrapper">
    <%= yield %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

  </div>
</div> <!-- content -->

</body>
</html>
